.idea/*
*.pyc
trained_models
trained_models_old_rewards
v2_trained_models_new_rewards
v2_trained_models_old_rewards
v3_trained_models_old_rewards_0.03_0.03_0.03_false
v3_trained_models_old_rewards_others_direct